@import url(./reset.css);

*{
  font-family: "Inter", sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template:
  "header header header header header" 1fr
  "sidebar main main main main" 4fr
  "sidebar main main main main" 4fr;
}
.container .icone{
  width: 24px;
}

/* Cabecalho */

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

header .group1,
header .group3{
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .group2{
  display: flex;
  align-items: center;
}

header .group2 input{
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
}


header .group2 .btn-search{
  width: 30px;
  height: 32px;
  background-color: #f8f8f8;
  border: 1px solid #f7f7f7;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  border-radius: 0 2px 2px 0;
}

header .group2 .search{
  width: 20px;
  cursor: pointer;
  
}

header .group3 .perfil{
  width: 34px;
  border-radius: 50%;
}

/* Sidebar */

.navbar{
  grid-area: sidebar;
}

.navbar ul{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
  align-items: left;
  padding-left: 1rem;
}

.navbar ul li {
  display: flex;
  align-items: center;
  gap: 7px;
}


/* Principal */

main{
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  padding-top: 1rem;

}

main iframe{
  width: 300px;
}

main .video-youtube{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 300px;
}

main .details-video{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 0;
}

main .details-video .describe-video p{
  padding-bottom: 20px;
  font-size: 14px;
}